.hbox {
  max-width: 100%;
  display: flex;
}
.gobutton {
  margin: 30px;
  padding: 40px;
  font-size: xx-large;
  font-variant: small-caps;
  background: chartreuse;
}
.altbackground {
  background: lightgray;
}
thead {
  color: darkblue;
}
.turn {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: turn;
}
@keyframes turn {
  0% {background-color: white;}
  50% {background-color: coral;}
  100% {background-color: red;}
}
footer {
  bottom: 0px;
  font-size: x-small;
  position: fixed;
}
.cardbutton {
  margin: 4px;
  padding: .2ch;
  width: 2.4ch;
  height: 4ch;
  font-size: x-large;
  background: linear-gradient(to bottom right, blue, aqua, green, yellow, red);
}
body {
  font-size: large;
}
.gbname {
  text-transform: capitalize;
}
.negativebg {
  background: blue;
}
.zerobg {
  background: aqua;
}
.onetwothreefourbg {
  background: green;
}
.fivesixseveneightbg {
  background: yellow;
}
.nineteneleventwelvebg {
  background: red;
}
