.hbox {
  max-width: 100%;
  display: flex;
}
.gobutton {
  margin: 30px;
  padding: 40px;
  font-size: xx-large;
  font-variant: small-caps;
  background: chartreuse;
}
.altbackground {
  background: lightgray;
}
thead {
  color: darkblue;
}
.turn {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: turn;
}
@keyframes turn {
  0% {background-color: white;}
  50% {background-color: lightyellow;}
  100% {background-color: yellow;}
}
.cardpicked {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: cardpicked;
}
@keyframes cardpicked {
  0% {border-color: white;}
  50% {border-color: lightgreen;}
  100% {border-color: green;}
}
footer {
  bottom: 0px;
  font-size: x-small;
  position: fixed;
}
.cardbutton {
  border: ridge;
  margin: 4px;
  padding: .1em;
  width: 2em;
  height: 3em;
  font-size: x-large;
  background: linear-gradient(to bottom right, blue, aqua, green, yellow, red);
  text-align: center;
}
body {
  font-size: large;
}
.gbname {
  text-transform: capitalize;
}
.invisible {
  visibility: hidden;
}
.totalpoints {
  width: 3em;
}
.banner {
  background: tomato;
  font-size: large;
  padding: 1em;
}
.negativebg {
  background: dodgerblue;
}
.zerobg {
  background: aqua;
}
.onetwothreefourbg {
  background: lightgreen;
}
.fivesixseveneightbg {
  background: yellow;
}
.nineteneleventwelvebg {
  background: tomato;
}